  <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Orbiter is a bootstrap minimal & clean admin template">
    <meta name="keywords" content="admin, admin panel, admin template, admin dashboard, responsive, bootstrap 4, ui kits, ecommerce, web app, crm, cms, html, sass support, scss">
    <meta name="author" content="Themesbox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>TumYem - @ViewData["Title"]</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="/adminpanel/images/logo.png">
    <!-- Start css -->
    <!-- Switchery css -->
    <link href="/adminpanel/plugins/switchery/switchery.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Apex css -->
    <link href="/adminpanel/plugins/apexcharts/apexcharts.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Slick css -->
    <link href="/adminpanel/plugins/slick/slick.css" rel="stylesheet">
    <link href="/adminpanel/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="/adminpanel/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/adminpanel/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/adminpanel/css/flag-icon.min.css" rel="stylesheet" type="text/css">
    <link href="/adminpanel/css/style.css" rel="stylesheet" type="text/css">
    <!-- End css -->
</head>
<body class="vertical-layout">    

    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- Start Leftbar -->
        <div class="leftbar">
            <!-- Start Sidebar -->
            <div class="sidebar">
                <!-- Start Logobar -->
                <div class="logobar">
                    <a href="/TumYemAdmin/Dashboard/Index" class="logo logo-large"><img  src="/adminpanel/images/logo.png" class="img-fluid" alt="logo"></a>
                    <a href="/TumYemAdmin/Dashboard/Index" class="logo logo-small"><img src="/adminpanel/images/logo.png" class="img-fluid" alt="logo"></a>
                </div>
                <!-- End Logobar -->
                <!-- Start Navigationbar -->
                <div class="navigationbar">
                    <ul class="vertical-menu">
                        <li>
                            <a asp-controller="Dashboard" asp-action="Index">
                              <img src="/adminpanel/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Ana Səhifə</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                          
                        </li>
                        <li>
                            <a asp-controller="Categories" asp-action="Index" >
                                <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="basic"><span>Kateqoriyalar</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                
                        </li>
                        <li>
                            <a asp-controller="Products" asp-action="Index" >
                                <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="advanced"><span>Məhsullar</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                            
                        </li>
                         <li>
                            <a asp-controller="Sliders" asp-action="Index">
                              <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="apps"><span>Slaydlar</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                          
                        </li> 
                          <li>
                            <a asp-controller="WhatWeDo" asp-action="Index">
                              <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="apps"><span>Biz Nə Edirik</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                          
                        </li> 
                         <li>
                            <a asp-controller="WhyWeUs" asp-action="Index">
                              <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="apps"><span>Niyə Biz</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                          
                        </li> 
                          <li>
                            <a asp-controller="AboutUs" asp-action="Index">
                              <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="apps"><span>Haqqımızda</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li> 
                           <li>
                            <a asp-controller="AboutUsTexts" asp-action="Index">
                              <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="apps"><span>Haqqımızda Məqalə</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li> 
                            <li>
                            <a asp-controller="Counter" asp-action="Index">
                              <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="apps"><span>Sayğac</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li> 
                     
                        <li>
                            <a asp-controller="Blogs" asp-action="Index">
                              <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="apps"><span>Bloqlar</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li> 
                           <li>
                            <a asp-area="TumYemAdmin" asp-controller="StaticFooter" asp-action="Index">
                              <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="apps"><span>Son Yazılar</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li> 
                         </li> 
                           <li>
                            <a asp-area="TumYemAdmin" asp-controller="Contacts" asp-action="Index">
                              <img src="/adminpanel/images/svg-icon/advanced.svg" class="img-fluid" alt="apps"><span>Əlaqə</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li> 
                          
                    </ul>
                </div>
                <!-- End Navigationbar -->
            </div>
            <!-- End Sidebar -->
        </div>
        <!-- End Leftbar -->
        <!-- Start Rightbar -->
        <div class="rightbar">
            <!-- Start Topbar Mobile -->
            <div class="topbar-mobile">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="mobile-logobar">
                            <a href="/TumYemAdmin/Dashboard" class="mobile-logo"><img style="border-radius:50%" width="50px" src="/adminpanel/images/logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="mobile-togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="topbar-toggle-icon">
                                        <a class="topbar-toggle-hamburger" href="javascript:void();">
                                            <img src="/adminpanel/images/svg-icon/horizontal.svg" class="img-fluid menu-hamburger-horizontal" alt="horizontal">
                                            <img src="/adminpanel/images/svg-icon/verticle.svg" class="img-fluid menu-hamburger-vertical" alt="verticle">
                                         </a>
                                     </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                            <img src="/adminpanel/images/svg-icon/collapse.svg" class="img-fluid menu-hamburger-collapse" alt="collapse">
                                            <img src="/adminpanel/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                                         </a>
                                     </div>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Topbar -->
            <div class="topbar">
                <!-- Start row -->
                <div class="row align-items-center">
                    <!-- Start col -->
                    <div class="col-md-12 align-self-center d-flex justify-content-between">
                        <div class="togglebar">
                            <ul class="list-inline mb-0 d-fle">
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                           <img src="/adminpanel/images/svg-icon/collapse.svg" class="img-fluid menu-hamburger-collapse" alt="collapse">
                                           <img src="/adminpanel/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                                         </a>
                                     </div>
                                </li>
                             
                            </ul>
                        </div>
                         <div class="searchbar">
                                         <partial name="_loginPartial" />
                              </div>

                    </div>
                    <!-- End col -->
                </div> 
                <!-- End row -->
            </div>
            <!-- End Topbar -->
            <!-- Start Breadcrumbbar -->                    
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Keçidlər</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item d-block"><a href="/TumYemAdmin/Dashboard/Index">İdarə Paneli</a></li>
                                <li class="breadcrumb-item d-block"><a href="javascript:void(0)">@ViewData["Link"]</a></li>
                                <li class="breadcrumb-item active d-block" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </div>
                    </div>
                </div>          
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->    
            <div class="contentbar"> 
              @RenderBody()
            <!-- Start Footerbar -->
            <div class="footerbar">
                <footer class="footer">
                    <p class="mb-0">© 2022 Farmi - designed by WebSuper</p>
                </footer>
            </div>
            <!-- End Footerbar -->
        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->        
    <script src="/adminpanel/js/jquery.min.js"></script>
    <script src="/adminpanel/js/popper.min.js"></script>
    <script src="/adminpanel/js/bootstrap.min.js"></script>
    <script src="/adminpanel/js/modernizr.min.js"></script>
    <script src="/adminpanel/js/detect.js"></script>
    <script src="/adminpanel/js/jquery.slimscroll.js"></script>
    <script src="/adminpanel/js/vertical-menu.js"></script>
    <!-- Switchery js -->
    <script src="/adminpanel/plugins/switchery/switchery.min.js"></script>
    <!-- Apex js -->
    <script src="/adminpanel/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="/adminpanel/plugins/apexcharts/irregular-data-series.js"></script>    
    <!-- Slick js -->
    <script src="/adminpanel/plugins/slick/slick.min.js"></script>
    <!-- Custom Dashboard js -->   
    <script src="/adminpanel/js/custom/custom-dashboard.js"></script>
    <!-- Core js -->
    <script src="/adminpanel/js/core.js"></script>
    <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts",required:false);
    <!-- End js -->
</body>

</html>