@model Entities.Blog

@{
    ViewData["Title"] = "Yaratmaq";
     ViewData["Link"] = "Bloqlar";
}
<style>
    .label-photo {
        background: gold;
        padding: 10px 20px;
        color: #fff;
        margin: 10px 0;
        cursor: pointer;
        border-radius: 5px;
    }

    a {
        text-decoration: none;
        margin: 15px 0;
    }
</style>

<h1>Yaratmaq</h1>

<h4>Bloq</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlogPhoto" class="control-label label-photo"></label>
                <input asp-for="BlogPhoto" class="form-control d-none" type="file"/>
                <span asp-validation-for="BlogPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeaderText" class="control-label"></label>
                <input asp-for="HeaderText" class="form-control" />
                <span asp-validation-for="HeaderText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Yarat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Siyahıya Qayıt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
