@model Entities.AboutUsText

@{
    ViewData["Title"] = "Yaratmaq";
     ViewData["Link"] = "Haqqımızda Məqalə";
}



<h4>Yeni Məqalə</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OneMain" class="control-label"></label>
                <input asp-for="OneMain" class="form-control" />
                <span asp-validation-for="OneMain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OneText" class="control-label"></label>
                <input asp-for="OneText" class="form-control" />
                <span asp-validation-for="OneText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Yarat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Siyahıya Qayıt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
